.botao{
    position: relative;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 16px;
    background-color: #00CFD5;
    padding: 7px 10px;
    border-radius: 10px;
    color: #1A274F;
    display: block;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.botao__grande{
  padding: 10px 15px;
  transition: all 0.5s ease;
  overflow: hidden;
}

.botao__grande::before {
  content: '';
  position: absolute;
  top: -200%;
  left: -100%;
  width: 200%;
  height: 200%;
  background: linear-gradient(
    0deg, 
    transparent, 
    transparent 10%, 
    rgb(0, 255, 255)
  );
  transform: rotate(-45deg);
  transition: all 1s ease;
  opacity: 0;
}

.botao__grande:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px rgba(0,255,255,0.5);
}

.botao__grande:hover::before {
  opacity: 1;
  transform: rotate(-45deg) translateY(500%);
}

@media screen and (min-width: 520px) {
  
  .botao,
  .botao__grande{
    font-size: 24px;
  }

}

@media screen and (min-width: 720px) {

  .botao{
    /* font-size: 28px; */
    padding: 12px;
    margin: 0 16px;
  }
  
}