@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

.modal-overlay-privacymodel {
  position: fixed;
  top: 0; left: 0; right: 0; bottom: 0;
  background: rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-box-privacymodel {
  background: #fff;
  border-radius: 12px;
  max-width: 600px;
  width: 90%;
  max-height: 80vh;
  padding: 24px;
  overflow-y: auto;
  box-shadow: 0 4px 20px rgba(0,0,0,0.2);
  position: relative;
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 20px;
  overflow-y: auto;
}

.modal-box-privacymodel h2{
  font-weight: 700;
  margin-bottom: 18px;
}

.modal-box-privacymodel p{
  margin: 12px 0;
}

.close-btn {
  position: absolute;
  right: 16px;
  top: 12px;
  border: none;
  background: transparent;
  font-size: 1.5rem;
  cursor: pointer;
}
